<h2>Bonjour {{firstName}},</h2>

<p>Votre mot de passe n'a pas été mis à jour depuis plus de 60 jours.</p>

<p>Pour des raisons de sécurité, nous vous demandons de le réinitialiser :</p>

<p><a href="{{url}}">Réinitialiser mon mot de passe</a></p>

<p>Merci de votre vigilance,<br>L'équipe de sécurité</p>
