# Ignore Kubernetes secrets
k8s/secrets/flexcars-backend-secret.yaml
k8s/secrets/flexcars-frontend-secret.yaml
k8s/secrets/flexcars-backend-migrate-secret.yaml
k8s/secrets/flexcars-client-secret.yaml

