.carousel {
  height: 220px;
}

.carouselControls {
  justify-content: space-between;
  padding: 0 1rem;
  transition: opacity 150ms ease;
  opacity: 0;
}

.carousel:hover .carouselControls {
  opacity: 1;
}

.carouselIndicator {
  width: 8px;
  height: 8px;
  transition: width 250ms ease;
}

.carouselIndicator[data-active] {
  width: 24px;
}

.slide {
  height: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.slideImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.price {
  color: var(--mantine-color-blue-6);
}